<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nuc.finish.dao.GiftMapper" >
    <select id="listGifts" resultType="com.nuc.finish.pojo.Gift">
        select * from gift_info
    </select>

    <insert id="insertGift">
        insert into gift_info(name, points, photo, create_time, update_time) values(#{vo.name}, #{vo.points}, #{vo.photo}, now(), now())
    </insert>
</mapper>